* {
    font-family: 'Tillana', serif;
}

hr {
    width: 10%;
    margin-left: 0;
}

div {
    background-color: azure;
    border: 1px solid aquamarine;
    padding: 40px
}

div:hover {
    background-color: #ccc;
}

h1,
h2 {
    font-family: 'Pacifico', serif;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 4px 4px 4px #aaa;
    color: blue;
}

p {
    font-family: 'Tillana', serif;
    font-size: 20px;
    font-weight: regular;
    color: black;
}

ul {
    list-style: none;
}

ul li {
    line-height: 20px;
    margin-bottom: 10px;
}

ul li::before {
    content: "\f000";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 20px;
    color: green;
    margin-right: 5px;
    /*--adjust as necessary--*/
    /*    color: #aaa;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 10px;
    left: 0;*/
}

a:link {
    /* unvisited link */
    color: green;
}

a:visited {
    /* visited link */
    color: red;
}

a:hover {
    /* mouse over link */
    font-size: 30px
}

a:active {
    /* selected link (i.e., you've clicked
    but not released on the link)
 */
    color: black;
}
